{% extends 'base.html.twig' %}

{% block title %}Hello PublicController!{% endblock %}

{% block body %}
<h1 id="hello">Hello buddy!!</h1>
<i class="fab fa-apple"></i>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('SayHello') }}
<script>
    const hellobuddy = new SayHello(document.getElementById("hello"), "hello buddy");
    hellobuddy.init();
</script>
{% endblock %}