{% extends 'base.html.twig' %}

{% block title %}{% trans %}Website's Antoine Smagghe. Web developer and agent for contemporary artists{% endtrans %}{% endblock %}

{% block body %}
<h1 id="hello">Hello buddy!!</h1>
<i class="fab fa-apple"></i>
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('public_index') }}
{% endblock %}